$mainColor: #ff0000;

// .red {
//   background-color: $mainColor;
// }

// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: green;
//   }
// }

// animation 시작때 적용할 css
.wow-enter {
  opacity: 0;
}
// animation 동작할때 적용할 css
.wow-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

@mixin 함수() {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: 2rem auto;
  p {
    margin-bottom: 0;
  }
}

.my-alert {
  @include 함수();
}

.my-alert2 {
  @include 함수();
  background-color: #998877;
}
