$mainColor: #ff0000;

// .red {
//   background-color: $mainColor;
// }

// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: green;
//   }
// }

@mixin 함수() {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  p {
    margin-bottom: 0;
  }
}

.my-alert {
  @include 함수();
}

.my-alert2 {
  @include 함수();
  background-color: #998877;
}
